autopep8==1.5.7
backports.entry-points-selectable==1.1.0
camelcase==0.2
click==8.0.1
colorama==0.4.4
distlib==0.3.3
filelock==3.3.0
Flask==2.0.1
greenlet==1.1.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
msgpack==1.0.2
mysql==0.0.3
mysql-connector-python==8.0.26
mysqlclient==2.1.0
neovim==0.3.1
Pillow==8.4.0
platformdirs==2.4.0
protobuf==3.18.0
pycodestyle==2.7.0
PyMySQL==1.0.2
pynvim==0.4.3
python-dotenv==0.19.2
six==1.16.0
toml==0.10.2
virtualenv==20.8.1
Werkzeug==2.0.1
